In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
df1 = pd.read_csv("canteen.csv",header=None)

In [7]:
df1.head()

           0       1             2              3         4
0  Order_no.   item1         item2          item3     item4
1          1     Tea        Samosa       Sandwich       NaN
2          2  Samosa           Tea       Sandwich   Noodles
3          3  Samosa   Cold Coffee   French Fries       NaN
4          4   Pizza        Maggie         Samosa       Tea

In [8]:
df1.tail()

     0            1             2             3        4
16  16    Black Tea  Fried Maggie      Sandwich      NaN
17  17       Samosa  Fried Maggie  French Fries      NaN
18  18       Samosa     Black Tea  Fried Maggie      NaN
19  19       Samosa     Black Tea  Fried Maggie      NaN
20  20  Cold Coffee           Tea     Black Tea  Noodles

In [9]:
df1.describe()

                0       1             2         3        4
count          21      21            21        20        8
unique         21       7            12        11        6
top     Order_no.  Samosa  Fried Maggie  Sandwich  Noodles
freq            1       9             4         5        3

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       21 non-null     object
 1   1       21 non-null     object
 2   2       21 non-null     object
 3   3       20 non-null     object
 4   4       8 non-null      object
dtypes: object(5)
memory usage: 968.0+ bytes

In [21]:
transactions=[]
for i in range(0,19):
    transactions.append([str(df1.values[i,j]) for j in range(1,5)])

In [13]:
transactions

[['Order_no.', 'item1'],
 ['1', 'Tea'],
 ['2', 'Samosa'],
 ['3', 'Samosa'],
 ['4', 'Pizza'],
 ['5', 'Maggie'],
 ['6', 'Samosa'],
 ['7', 'Maggie'],
 ['8', 'Maggie'],
 ['9', 'Pizza'],
 ['10', 'Samosa'],
 ['11', 'Black Tea'],
 ['12', 'Black Tea'],
 ['13', 'Black Tea'],
 ['14', 'Samosa'],
 ['15', 'Samosa'],
 ['16', 'Black Tea'],
 ['17', 'Samosa'],
 ['18', 'Samosa']]

In [14]:
transactions[0]

['Order_no.', 'item1']

In [15]:
pip install apyori

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: apyori in c:\users\sai\appdata\roaming\python\python39\site-packages (1.1.2)
Note: you may need to restart the kernel to use updated packages.

In [16]:
from apyori import apriori

In [17]:
association_rules = apriori(transactions,min_support=0.045,min_confidence=0.2,min_lift=3,min_length=2)
association_results = list(association_rules)

In [18]:
print(len(association_results))

11

In [19]:
print(len(association_results[0]))

3

In [20]:
for item in association_results:
    pair = item[0]
    items = [x for x in pair]
    print("Rule: " + items[0] + " -> " + items[1])
    print("Support: " + str(item[1]))
    print("Confidence: " + str(item[2][0][2]))
    print("Lift: "+ str(item[2][0][3]))
    print("================================")

Rule: 1 -> Tea
Support: 0.05263157894736842
Confidence: 1.0
Lift: 19.0
================================
Rule: 11 -> Black Tea
Support: 0.05263157894736842
Confidence: 1.0
Lift: 4.75
================================
Rule: 12 -> Black Tea
Support: 0.05263157894736842
Confidence: 1.0
Lift: 4.75
================================
Rule: 13 -> Black Tea
Support: 0.05263157894736842
Confidence: 1.0
Lift: 4.75
================================
Rule: 16 -> Black Tea
Support: 0.05263157894736842
Confidence: 1.0
Lift: 4.75
================================
Rule: 4 -> Pizza
Support: 0.05263157894736842
Confidence: 1.0
Lift: 9.5
================================
Rule: 5 -> Maggie
Support: 0.05263157894736842
Confidence: 1.0
Lift: 6.333333333333334
================================
Rule: Maggie -> 7
Support: 0.05263157894736842
Confidence: 1.0
Lift: 6.333333333333334
================================
Rule: Maggie -> 8
Support: 0.05263157894736842
Confidence: 1.0
Lift: 6.333333333333334
================================
Rule: Pizza -> 9
Support: 0.05263157894736842
Confidence: 1.0
Lift: 9.5
================================
Rule: Order_no. -> item1
Support: 0.05263157894736842
Confidence: 1.0
Lift: 19.0
================================